:root {
  /* Primary */
  --ScissorsGradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --PaperGradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --RockGradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --LizardGradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --Cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  /* Neutral */
  --DarkText: hsl(229, 25%, 31%);
  --ScoreText: hsl(229, 64%, 46%);
  --HeaderOutline: hsl(217, 16%, 45%);

  /* Background */
  --RadialGradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 144rem;
  margin: 0 auto;
  height: 100vh;
  background: var(--RadialGradient);
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.border-radius {
  border-radius: 1rem;
}

/***********************************/
/* Title and score box*/
/***********************************/

.title-score_wrapper {
  max-width: 100rem;
  margin: 6rem auto 10rem auto;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--HeaderOutline);
  padding: 2rem;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 7rem;
  line-height: 5.6rem;
}

.score-box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26rem;
}

.score-text {
  color: var(--ScoreText);
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 3px;
}

.score-number {
  color: var(--DarkText);
  font-size: 10rem;
  font-weight: 700;
}

/***********************************/
/* GAME ICONS */
/***********************************/

.game-icons_wrapper,
.game-icons_wrapper-clicked {
  position: relative;
  max-width: 100rem;
  margin: 0 auto 10rem auto;
  display: grid;
  grid-template-columns: 300px 300px;
  justify-items: center;
  justify-content: center;
  row-gap: 10rem;
}

.game-icons_wrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('images/bg-triangle.svg') no-repeat center;
  z-index: -1;
}

.game-icon-box,
.game-icon-box-picked {
  cursor: pointer;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16rem;
  width: 16rem;
  box-shadow: inset 0px 20px 0px -9px rgba(0, 0, 0, 0.2);
}

.game-icon {
  width: 70px;
}

.icon-paper,
.icon-paper-picked,
.icon-scissors,
.icon-scissors-picked,
.icon-rock,
.icon-rock-picked {
  border-radius: 50%;
  position: relative;
  border: 1px solid transparent;
  background-clip: padding-box;
}
.icon-rock {
  grid-column: 1 / span 2;
}

.icon-paper::after,
.icon-paper-picked::after,
.icon-scissors::after,
.icon-scissors-picked::after,
.icon-rock::after,
.icon-rock-result::after {
  position: absolute;
  border-radius: 50%;
  top: -2.5rem;
  bottom: -2.5rem;
  left: -2.5rem;
  right: -2.5rem;
  content: '';
  z-index: -1;
}
.icon-paper::after,
.icon-paper-picked::after {
  background: var(--PaperGradient);
  box-shadow: 0px 8px 0px 0px hsl(230, 89%, 60%);
}
.icon-scissors::after,
.icon-scissors-picked::after {
  background: var(--ScissorsGradient);
  box-shadow: 0px 8px 0px 0px hsl(39, 89%, 39%);
}
.icon-rock::after,
.icon-rock-picked::after {
  background: var(--RockGradient);
  box-shadow: 0px 8px 0px 0px hsl(349, 71%, 42%);
}

/* RULES */
.btn-rules {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: none;
  background: none;
  color: #fff;
  border: 2px solid var(--HeaderOutline);
  cursor: pointer;

  padding: 1rem 5rem;
  align-self: flex-end;
  margin: 0 5rem 3rem 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.game-rules_wrapper {
  background-color: #fff;
  padding: 0 5rem 5rem 5rem;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-rules-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 4rem 0;
}

h2 {
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--DarkText);
}

.icon-close {
  cursor: pointer;
}

.icon-close:hover,
.icon-close:active {
  opacity: 0.8;
}

/***********************************/
/* GAME STATE CHANGE */
/***********************************/

.game-icons_wrapper-picked {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10rem;
}

.placeholder_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
}

.placeholder,
.game-icon-box-picked {
  height: 24rem;
  width: 24rem;
}

.placeholder {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -2;
}

.placeholder_wrapper p {
  color: #fff;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.game-icon-picked_player,
.game-icon-picked_house {
  width: 120px;
}

.icon-paper-picked::after,
.icon-scissors-picked::after,
.icon-rock-picked::after {
  position: absolute;
  border-radius: 50%;
  top: -3.8rem;
  bottom: -3.8rem;
  left: -3.8rem;
  right: -3.8rem;
  content: '';
  z-index: -1;
}

/* Win or lose box */

.win-lose_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.win-lose-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 6rem;
}
.btn-play-again {
  border: none;
  cursor: pointer;
  color: var(--DarkText);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1.4rem 6rem;
  transition: 0.2s;
}

.btn-play-again:hover,
.btn-play-again:active {
  color: hsl(349, 71%, 52%);
}

/***********************************/
/* FOOTER */
/***********************************/
.attribution_wrapper {
  display: flex;
  flex-direction: column;

  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 5rem;
}

.attribution-links-box {
  display: flex;
  align-self: center;
}

.attribution_wrapper a {
  color: hsl(228, 45%, 44%);
  margin-left: 3px;
}

/*Helper classes*/
.hidden {
  display: none;
}

/***********************************/
/* MEDIA */
/***********************************/

@media (max-width: 1035px) {
  .title-score_wrapper {
    margin: 6rem 2rem;
  }

  .game-icon-picked_player,
  .game-icon-picked_house {
    width: 100px;
  }
  .game-icon-box-picked {
    height: 20rem;
    width: 20rem;
  }
  .icon-paper-picked::after,
  .icon-scissors-picked::after,
  .icon-rock-picked::after {
    top: -3rem;
    bottom: -3rem;
    left: -3rem;
    right: -3rem;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 5rem;
    line-height: 4rem;
  }

  .score-box {
    width: 20rem;
  }

  .score-number {
    font-size: 6rem;
  }

  .game-icon-box {
    height: 12rem;
    width: 12rem;
  }

  .game-icon {
    width: 60px;
  }
  .icon-paper::after,
  .icon-scissors::after,
  .icon-rock::after {
    top: -2rem;
    bottom: -2rem;
    left: -2rem;
    right: -2rem;
  }
}

@media (max-width: 900px) {
  .title-score_wrapper {
    margin: 10rem 2rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 2.4rem;
  }

  .score-box {
    width: 8rem;
    padding: 1rem 0;
  }

  .score-text {
    font-size: 1.2rem;
  }

  .score-number {
    font-size: 4rem;
  }

  .game-icons_wrapper {
    grid-template-columns: 200px 200px;
    row-gap: 8rem;
  }

  .game-icons_wrapper::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
  }

  .game-icon-box {
    height: 10rem;
    width: 10rem;
  }

  .game-icon {
    width: 50px;
  }
  .icon-paper::after,
  .icon-scissors::after,
  .icon-rock::after {
    top: -1.2rem;
    bottom: -1.2rem;
    left: -1.2rem;
    right: -1.2rem;
  }

  .btn-rules {
    align-self: center;
    margin: 0 0 3rem 0;
  }

  /* Game state change */
  .game-icons_wrapper-picked {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .placeholder_wrapper {
    flex-direction: column-reverse;
    gap: 5rem;
    margin-bottom: 5rem;
  }

  .placeholder_wrapper p {
    font-size: 1.4rem;
    letter-spacing: 2px;
  }

  .win-lose_wrapper {
    grid-row: 2;
    grid-column: 1 / -1;
  }

  .game-icon-picked_player,
  .game-icon-picked_house {
    width: 50px;
  }
  .game-icon-box-picked,
  .placeholder {
    height: 10rem;
    width: 10rem;
  }
  .icon-paper-picked::after,
  .icon-scissors-picked::after,
  .icon-rock-picked::after {
    top: -1.4rem;
    bottom: -1.4rem;
    left: -1.4rem;
    right: -1.4rem;
  }
}
